/* CSS Document */

/*header CSS*/
.header {
	width: 100%;
	height: 79px;
	background-color: #00808d;
	padding-top: 4px;
	padding-bottom: 2px;
}

.hd-navDiv {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}

.logoDiv {
	width: 220px;
	height: 100%;
}

ul.hd-navContent {
	width: 480px;
	height: 100%;
}

ul.hd-navContent li{
	width: 80px;
	height: 100%;
	line-height: 79px;
	text-align: center;
	float: left;
	color: #fff;
}

ul.hd-navContent li:hover{
	color:#00808d;
	background-color: #fff;
}


.nav-list1 {
	color: #00808d !important;
	background-color: #fff !important;
}


.loginDiv {
	margin-right: 10px;
}

.regiestDiv {
	margin-right: 5px;
}

.loginDiv>a,.regiestDiv>a{
	color:#fff;
}

.loginDiv>a:hover,.regiestDiv>a:hover{
	color:#ff0000;
}


img{
	width: 100%;
	height: 100%;
}
/*header CSS end*/

/*frinedLink CSS*/
.ct-frindsLinkDiv {
	width: 100%;
	padding-top: 40px;
}

.ct-frindsLink {
	width: 840px;
	height: 18px;
	margin: 0 auto;
	padding:12px 0;
	border-top: 1px solid #eaeaea;
	line-height: 45px;
}

.ct-frindsLink-left {
	height: 100%;
	padding:0 15px;
	line-height: 18px;
	text-align: center;
	color: #333333;
	float: left;
}

ul.ct-frindsLink-link {
	height: 100%;
	float: left;
}

ul.ct-frindsLink-link>li{
	height: 100%;
	padding: 0 10px;
	line-height: 18px;
	border-right: 1px solid #6a6a6a;
	font-size: 12px;
	float: left;
}

ul.ct-frindsLink-link a{
	color:#333333;
}

ul.ct-frindsLink-link a:hover{
	color:#72d0eb;
	text-decoration: none;
}

.linklist-last {
	border: none !important;
}
/*frinedLink CSS end*/

/*footer CSS*/
.footer {
	padding: 30px 0;
	text-align: center;
	color: #72d0eb;
	background-color: #037682;
}

.ft-content {
	width: 840px;
	margin: 0 auto;
}

.companyName {
	line-height: 32px;
	padding: 0 5px;
	float: left;
	margin-right: 20px;
}

.companyaddress {
	line-height: 32px;
	padding: 0 5px;
	float: right;
}
/*footer CSS end*/

.ct-main {
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
}

.ct-main-left {
	width: 210px;
	float: left;
}

.ct-main-right {
	width: 980px;
	margin-left: 10px;
	float: right;
}

.ct-main-tittle {
	width: 180px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	padding-left: 20px;
	padding-right: 10px;
	background-color: #00808d;
}

.resetImg {
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 10px;
}

.ct-main-userShowDiv {
	width: 100%;
	height: 110px;
	padding-top: 20px;
	background-color: #14a7b6;
	color: #fff;
}

.ct-userImgDiv {
	width: 104px;
	height: 100%;
	text-align: center;
	float: left;
}

#ct-main-userName {
	padding-top: 15px;
	line-height: 20px;
	font-size: 16px;
}

.ct-userImg {
	width: 64px;
	height: 64px;
}

.ct-main-setDiv {
	width: 106px;
	float: left;
	font-size: 14px;
	line-height: 17px;
}

.ct-restInfoDiv {
	height: 17px;
	color: #fecac8;
	margin-bottom: 10px;
}

a:hover{
	text-decoration: none;
}

.ct-restInfoDiv:hover{
	color:#fff;
	
}

.ct-main-smallImg {
	width: 15px;
	height: 15px;
}

.ct-main-optionDiv {
	width: 100%;
	margin-top: 10px;
	color: #333333;
}

.ct-functDiv1,.ct-functDiv2  {
	width: 198px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	border: 1px solid #cccccc;
}

.ct-functDiv2{
	padding-top: 10px;
}

.ct-functDiv-title {
	line-height: 25px;
}

.ct-functDiv-opt {
	color: #777777;
	padding-left: 10px;
	line-height: 30px;
}

.ct-functDiv-opt:hover {
	color: #111111;
}

.ct-mr-title {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #e7e7e7;
}

.ct-mrt-textDiv {
	width: 95px;
	height: 100%;
	border: 1px solid #e7e7e7;
	border-bottom: none;
	line-height: 35px;
	font-size: 14px;
	color: #e60012;
	text-align: center;
	background-color: #ffffff;
	float: left;
}

.ct-detail-infoDiv {
	width: 100%;
	padding: 10px 0;
	line-height: 52px;
	color: #666666;
	font-size: 14px;
}


.ct-titleDiv1 {
	width: 100%;
	height: 39px;
	color: #999999;
	line-height: 39px;
	border-bottom: 1px solid #e7e7e7;
}

.title-item1 {
	width: 545px;
	height: 100%;
	float: left;
}

.title-item2 {
	width: 106px;
	height: 100%;
	float: left;
}

.ct-contentDiv1 {
	width: 100%;
	height: 50px;
	background-color: #fcf8e3;
	border-bottom: 1px solid #e7e7e7;
}

.ct-contentDiv1-left {
	width: 600px;
	height: 50px;
	line-height: 50px;
	color: #999999;
	float: left;
}

.ct-contentDiv1-right {
	width: 368px;
	height: 30px;
	padding-top: 9px;
	line-height: 30px;
	font-size: 14px;
	float: right;
}

.ct-crBtn {
	height: 28px;
	padding: 0 10px;
	color: #fff;
	margin-right: 10px;
	border: 1px solid #df8505;
	background-color: #faa732;
}

.ct-orderDetailiv {
	width: 100%;
	height: 59px;
	color: #999999;
	line-height: 59px;
	border-bottom: 1px solid #e7e7e7;
}

.ct-orderDetail {
	width: 100%;
	border: 1px solid #e7e7e7;
	border-bottom: none;
}

.orderInfoDiv {
	width: 100%;
	height: 29px;
	background-color: #fafafa;
	font-size: 14px;
	line-height: 30px;
	color: #999999;
	border-bottom: 1px solid #e7e7e7;
}

.orderNumTitle {
	padding-left: 10px;
}

.orderNum {
	padding: 0 35px;
}

.ordertimeTitle {
	padding-left: 30px;
	padding-right: 5px;
}

.cBlue {
	color: #0279b9;
}

.title-item3 {
	width: 106px;
	padding-top: 10px;
	line-height: 20px;
	float: left;
}

.transportState {
	color: #3366cc;
	font-size: 16px;
}

.torderdetail {
	font-size: 16px;
	color: #333333;
}

.ct-orderTotal {
	color: #333333;
	padding-left: 20px;
}

.cRed {
	color: #ec4f4a;
}

.ct-pageDiv {
	margin-top: 15px;
	margin-left: 240px;
	width: 190px;
	height: 30px;
}

.upBtn,.downBtn {
	width: 68px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	color: #999999;
	border: 1px solid #999999;
	border-radius: 5px;
	margin-left: 5px;
	float: left;
}

.pageBtn {
	width: 28px;
	height: 28px;
	border: 1px solid #999999;
	float: left;
	color: #999999;
	line-height: 28px;
	text-align: center;
	border-radius: 5px;
	margin-left: 5px;
}
