<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>积分商城</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/contactOur.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="IntegralShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
		  <div class="hd-right right f16p">
	    	<div class="hd-logDiv"> 
	          <div class="loginDiv left "><a href="login.html">登录</a></div>
	    	  <div class="regiestDiv left ">
                 <a href="regiest.html">注册</a>
	          </div>
	          <div class="clearfloat"></div>
	    	</div>
	    	<div class="hd-userDiv">
	    		<span class="hd_useInfo">欢迎你：<span id="username"></span></span>
	    		<a href="personalCenter.html">
	    			<div class="grzxDiv right">用户中心</div>
	    		</a>
	    	</div>
	     </div>	
	</div>
</div>
<!--header end-->

<div class="content">
	<div class="ct-main">
		<div class="main_left">
        <div class="subNavBox" id="classInfo">
            <div  class="main-left-title"  style="">联系我们</div>
        </div>
    </div>
    <div class="main_pdu main_right">
       <p style="font-size: 20px;color:black;font-weight: bold;">陕西天一泉食品饮料有限公司</p>
       <p style="margin: 15px 0;font-size: 18px;">秦瑶玉泉西安营销中心</p>
       <p>地址：陕西省西安市经济开发区凤城四路90号 海璟新天地15楼</p>
       <p>电话：（029）81313498 400-0298896</p>
       <p style="margin: 30px 0 15px 0;font-size: 18px;">秦瑶玉泉兰州营销中心</p>
       <p>地址：甘肃省兰州市城关区雁滩高新区红星路1号红星财富中心21层2122室</p>
       <p>电话：（0931）8187547</p>
       <p style="margin: 30px 0 15px 0;font-size: 18px;">秦瑶玉泉生产中心</p>
       <p>地址：陕西省安康市旬阳县小河镇张良村</p>
       <p>电话：（0915）2113999</p>
       <div class="notice">
       	<div style="float: left;margin-left:50px;text-align: center;"><img src="../images/ewm2.jpg" alt="" width="200px"><span style="font-size: 13px;">秦瑶玉泉微信商城（秦瑶玉泉）</span></div>
       	<div style="float: right;margin-right: 90px;text-align: center;"><img src="../images/ewm1.jpg" alt="" width="200px"><span style="font-size: 13px;">秦瑶玉泉官方微博（@秦瑶玉泉）</span></div>
       </div>
        </div>
	</div>
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
	<div class="clearfloat"></div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/contactOur.js"></script>
</html>
