<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>登录页</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/login.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
<!--
	    <div class="hd-right right">
	    	<div class="loginDiv left f16p"><a href="#">登录</a></div>
	    	<div class="regiestDiv left f16p"><a href="regiest.html">注册</a></div>
	    </div>
-->
	</div>
</div>
<!--header end-->

<div class="content">
	<div class="ct-main">
		<div class="ct-main-loginDiv">
			<div class="ct-ml-top f14p">
				欢迎您登录网站，如果您未拥有账户，则可在此
				<a class="16p" href="regiest.html">注册</a>
			</div>
			<div class="loginfromDiv">
				<form class="ct-loginfrom">
					<div class = "itemDiv">
						<h3>用 户 名：</h3>
						<input type="text" id="account" name="account">
						<span>* 字母、数字、下划线组成，字母开头，4-16位</span>
					</div>
					<div class = "itemDiv">
						<h3>密 &#x3000; 码：</h3>
						<input type="password" id="password" name="password">
						<span>* 不超过12位数字、英文和英文符号组成</span>
					</div>
					<div class = "itemDiv">
						<h3>验 证 码：</h3>
						<input id="checkCode" type="text" name="checkCode">
						<div class="CheckCodImg">
							<a href="#">
								<img src="../images/CheckCode.gif" alt="">
							</a>
						</div>
						<div class="clearfloat"></div>
						<div class="changeImg"><a href="#">看不清？换一张</a></div>
					</div>
					
					<div class="buttonDiv">
						<input class="subBtn"  type="button" value="立即登陆">
						<a href="regiest.html">
						   <input class="regiseBtn"  type="button" value="注册">
						</a>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/login.js"></script>
</html>
