<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的订单</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/orderList.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	</div>
</div>
<!--header end-->

<div class="content">
	<div class="ct-main">
		<div class="ct-main-left">
			<div class="ct-main-tittle">
				<span>我的订单</span>
				<img class="resetImg" src="../images/reset.png" alt="">
			</div>
			<div class="ct-main-userShowDiv">
				<div class="ct-userImgDiv">
					<img class="ct-userImg" src="../images/touxiang.jpg" alt="">
					<span id="ct-main-userName">liyuwoerzi</span>
				</div>
				<div class="ct-main-setDiv">
				  <a href="personalRset.html">
					<div class="ct-restInfoDiv" id="restInfo">
						<img class="ct-main-smallImg"  src="../images/bi.png" alt="">
						修改资料
					</div>
				  </a>
				  <a href="../../index.html">
					<div class="ct-restInfoDiv" id="exit">
						<img class="ct-main-smallImg"  src="../images/exit.png" alt="">
						安全退出
					</div>
				  </a>	
				</div>
			</div>
			<div class="ct-main-optionDiv">
					<div class="ct-functDiv1">
						<span class="ct-functDiv-title">基本资料</span>
						<br />
						<a href="personalCenter.html">
						  <span class="ct-functDiv-opt">个人信息</span>
						</a>
					</div>
					<div class="ct-functDiv2">
						<span class="ct-functDiv-title">账户信息</span>
						<br />
						<a href="personalRecharge.html">
						  <span class="ct-functDiv-opt">余额充值</span>
						</a>
					</div>
					<div class="ct-functDiv2">
						<span class="ct-functDiv-title">商品管理</span>
						<br />
						<a href="#">
						  <span class="ct-functDiv-opt">商品订单</span>
						</a>
						<br />
						<a href="myIntegral.html">
						  <span class="ct-functDiv-opt">我的积分</span>
						</a>
					</div>
				</div>
		</div>
		<div class="ct-main-right">
			<div class="ct-mr-title">
				<div class="ct-mrt-textDiv">订单列表</div>
			</div>
			<div class="ct-detail-infoDiv">
				<div class="ct-titleDiv1 f14p">
					<div class="title-item1 textAlignCenter">商品</div>
					<div class="title-item2 textAlignCenter">单价（元）</div>
					<div class="title-item2 textAlignCenter">单位/箱</div>
					<div class="title-item2 textAlignCenter">订单金额</div>
					<div class="title-item2 textAlignCenter">交易状态</div>
				</div>
				<div class="ct-contentDiv1">
					<div class="ct-contentDiv1-left textAlignCenter">
						<span>订单金额： <i>73.00</i></span>
					</div>
					<div class="ct-contentDiv1-right">
						<button id="cancelBtn" class="ct-crBtn">订单取消</button>
						<button id="yePay" class="ct-crBtn">余额支付</button>
						<button id="wxPay" class="ct-crBtn">微信支付</button>
						<button id="zfbPay" class="ct-crBtn">支付宝支付</button>
					</div>
				
				</div>
				<div class="ct-orderDetail">
				    <div class="orderInfoDiv">
				    	<span class="orderNumTitle">订单号：</span>
				    	<span class="orderNum">48925018320170111</span>
				    	<span class="ordertimeTitle">下单时间：</span>
				    	<span class="ordertime">2017/1/11 17:49:10</span>
				    </div>
					<div class="ct-orderDetailiv">
							<div class="title-item1 textAlignCenter cBlue">水之侠骨柔情330ML</div>
					    	<div class="title-item2 textAlignCenter">59.00</div>
					   	    <div class="title-item2 textAlignCenter">1.00</div>
						    <div class="title-item2 textAlignCenter">58.00</div>
						    <div class="title-item3 textAlignCenter">
						    	<span class="transportState">未送达</span>
						    	<br />
						    	<a href="#"><span class="torderdetail">订单详情</span></a>
						    </div>
					</div>
					<div class="ct-contentDiv1">
					  <div class="ct-contentDiv1-left">
						<span class="ct-orderTotal">订单金额：</span>
						<i class="cRed f16p">3312.00</i>
					  </div>
					  <div class="ct-contentDiv1-right">
						<button  class="ct-crBtn">订单取消</button>
						<button  class="ct-crBtn">余额支付</button>
						<button  class="ct-crBtn">微信支付</button>
						<button  class="ct-crBtn">支付宝支付</button>
					  </div>
				  </div>
				  <div class="orderInfoDiv">
				    	<span class="orderNumTitle">订单号：</span>
				    	<span class="orderNum">14563018320170111</span>
				    	<span class="ordertimeTitle">下单时间：</span>
				    	<span class="ordertime">2017/1/10 13:21:10</span>
				  </div>
					<div class="ct-orderDetailiv">
							<div class="title-item1 textAlignCenter cBlue">330ML瓶装水</div>
					    	<div class="title-item2 textAlignCenter">144.00</div>
					   	    <div class="title-item2 textAlignCenter">7.00</div>
						    <div class="title-item2 textAlignCenter">1008.00</div>
						    <div class="title-item3 textAlignCenter">
						    	<span class="transportState">未送达</span>
						    	<br />
						    	<a href="#"><span class="torderdetail">订单详情</span></a>
						    </div>
					</div>
					<div class="ct-orderDetailiv">
							<div class="title-item1 textAlignCenter cBlue">530ML瓶装水</div>
					    	<div class="title-item2 textAlignCenter">192.00</div>
					   	    <div class="title-item2 textAlignCenter">12.00</div>
						    <div class="title-item2 textAlignCenter">2304.00</div>
						    <div class="title-item3 textAlignCenter">
						    	<span class="transportState">未送达</span>
						    	<br />
						    	<a href="#"><span class="torderdetail">订单详情</span></a>
						    </div>
					</div>
				</div>
			</div>
			<div class="ct-pageDiv">
				<div class="upBtn">上一页</div>
				<div class="pageBtn">1</div>
				<div class="downBtn">下一页</div>
			</div>
		</div>
		<div class="clearfloat"></div>
	</div>
	
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/orderList.js"></script>
</html>
