<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>充值中心</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/personalRecharge.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	</div>
</div>
<!--header end-->

<div class="content">
	<div class="ct-main">
		<div class="ct-main-left">
			<div class="ct-main-tittle">
				<span>个人中心</span>
				<img class="resetImg" src="../images/reset.png" alt="">
			</div>
			<div class="ct-main-userShowDiv">
				<div class="ct-userImgDiv">
					<img class="ct-userImg" src="../images/touxiang.jpg" alt="">
					<span id="ct-main-userName">liyuwoerzi</span>
				</div>
				<div class="ct-main-setDiv">
				  <a href="personalRset.html">
					<div class="ct-restInfoDiv" id="restInfo">
						<img class="ct-main-smallImg"  src="../images/bi.png" alt="">
						修改资料
					</div>
				  </a>
				  <a href="../../index.html">
					<div class="ct-restInfoDiv" id="exit">
						<img class="ct-main-smallImg"  src="../images/exit.png" alt="">
						安全退出
					</div>
				  </a>	
				</div>
			</div>
			<div class="ct-main-optionDiv">
					<div class="ct-functDiv1">
						<span class="ct-functDiv-title">基本资料</span>
						<br />
						<a href="personalCenter.html">
						  <span class="ct-functDiv-opt">个人信息</span>
						</a>
					</div>
					<div class="ct-functDiv2">
						<span class="ct-functDiv-title">账户信息</span>
						<br />
						<a href="#">
						  <span class="ct-functDiv-opt">余额充值</span>
						</a>
					</div>
					<div class="ct-functDiv2">
						<span class="ct-functDiv-title">商品管理</span>
						<br />
						<a href="orderList.html">
						  <span class="ct-functDiv-opt">商品订单</span>
						</a>
						<br />
						<a href="myIntegral.html">
						  <span class="ct-functDiv-opt">我的积分</span>
						</a>
					</div>
				</div>
		</div>
		<div class="ct-main-right">
			<div class="ct-main-content">
			<div class="ct-mainBox">
				<form action="">
				  <div class="ct-main-itemDiv">
					<span class="ct-main-itemText">充值金额：</span>
					<input class="ct-mainIpt" type="text">元
				  </div>
				  <div class="ct-main-itemDiv">
					<span class="ct-main-itemText left">充值方式：</span>
					<div class="ct-mainDiv left">
					    <input class="ct-select" type="radio" name="payType">
						<img class="zfImg" src="../images/zfb.png" alt=""> 
						<input class="ct-select" type="radio" name="payType">
						<img class="zfImg" src="../images/wx.png" alt=""> 
					</div>
				  </div>
				  <input type="submit" class="toSubmit" value="确认支付">
			   </form>
			</div>
			
				
			</div>
		</div>
		<div class="clearfloat"></div>
	</div>
	
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/personalRecharge.js"></script>
</html>
