<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>商品详情</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/prdDiscrib330.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	</div>
</div>
<!--header end-->

<div class="content">
	
	<div class="content-main">
		<div class="ct-box">
			<div class="ct-prdMessageBox">
				<div class="ct-PMB-titleBox">
					<div class="left ct-PMBT-left">
						<div class="angleDiv right">
							<img src="../images/angle.png" alt="">
						</div>
					</div>
					<div class="left ct-PMBT-right f18p">
						商品信息/Product Information
					</div>
				</div>
				<div class="ct-PMB-contentBox">
					<div class="ct-PMBC-imgDiv left">
						<img src="../images/prdList-101.png" alt="">
					</div>
					<div class="ct-PMBC-discribBox left">
						<ul class="ct-PMBC-discribDiv">
							<li id="prd-name"  class="f14p">
								<span>商品名称  :</span>330ML瓶装水		
							</li>
							<li id="prd-address"  class="f14p">
								<span>产&#x3000;&#x3000;地  :</span>安康旬阳		
							</li>
							<li id="prd-spec"  class="f14p">
								<span>商品规格  :</span>330ML		
							</li>
							<li id="prd-price"  class="f14p">
								<span>商品价格  :</span>144.00元/箱(24瓶)		
							</li>
							<li id="prd-marketPrice"  class="f14p">
								<span>门市价格  :</span>144.00元/箱(24瓶)		
							</li>
							
							<div id="buyBtn"  class="buttonDiv f16p">订购</div>
								
						</ul>
					</div>
				</div>
				<div class="clearfloat"></div>
			</div>
			
			<div class="ct-prdMessageBox">
				<div class="ct-PMB-titleBox">
					<div class="left ct-PMBT-left">
						<div class="angleDiv right">
							<img src="../images/angle.png" alt="">
						</div>
					</div>
					<div class="left ct-PMBT-right f18p">
						营养价值/Nutritional Value
					</div>
				</div>
				<div class="ct-PMB-imgBox">
				   	<img src="../images/detail330ml.jpg" alt="">
				</div>
			</div>
			
			<div class="ct-prdMessageBox">
				<div class="ct-PMB-titleBox">
					<div class="left ct-PMBT-left">
						<div class="angleDiv right">
							<img src="../images/angle.png" alt="">
						</div>
					</div>
					<div class="left ct-PMBT-right f18p">
						买家须知/Buyer Tips
					</div>
				</div>
				<div class="ct-PMB-contentBox">
		               <ul class="ct-PMBC-notic">
		               		<li>
		               			<div class="notic-numberDiv left">1</div>
		               			<div class="notic-content  left">买家在收到货48小时内，有任何质量问题，本店包退换，并包来回运费。</div>
		               			<div class="clearfloat"></div>
		               		</li>
		               		<li>
		               			<div class="notic-numberDiv left">2</div>
		               			<div class="notic-content  left">买家在收到货如果发现破损损坏，请拒签，如果签收了，请在24小时内，联系我们的客服人员，并提供破损图片为证， 我们将会重新补发货，收货后超多48小时本店有权不处理。</div>
		               			<div class="clearfloat"></div>
		               		</li>
		               		<li>
		               			<div class="notic-numberDiv left">3</div>
		               			<div class="notic-content  left">关于退换货的产品，本店不接受退换货运费到付，平邮，以及时间太长的丢件问题， 凡是到付运费本店一律拒绝签收，并不承担任何费用上的责任。</div>
		               			<div class="clearfloat"></div>
		               		</li>
		               		<li>
		               			<div class="notic-numberDiv left">4</div>
		               			<div class="notic-content f16p left">退换货需要在箱内留下字条说明：退换货原因、订单编码、买家旺旺名称、联系人信息、否则本店有权延后处理。</div>
		               			<div class="clearfloat"></div>
		               		</li>
		               </ul>
				</div>
			</div>
		</div>
		<div class="clearfloat"></div>
	</div>
	
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/prdDiscrib330.js"></script>
</html>
