<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品中心</title>
<link rel="stylesheet" href="../css/layer.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/prdList.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	    <div class="hd-right right f16p">
	    	<div class="hd-logDiv"> 
	          <div class="loginDiv left "><a href="login.html">登录</a></div>
	    	  <div class="regiestDiv left ">
                 <a href="regiest.html">注册</a>
	          </div>
	          <div class="clearfloat"></div>
	    	</div>
	    	<div class="hd-userDiv">
	    		<span class="hd_useInfo">欢迎你：<span id="username"></span></span>
	    		<a href="personalCenter.html">
	    			<div class="grzxDiv right">用户中心</div>
	    		</a>
	    	</div>
	    </div>
	</div>
</div>
<!--header end-->

<div class="content">
	
	<div class="content-main">
		<div class="ct-selectBox left">
			<div class="ct-select-title f28p">产品中心</div>
			<ul class="ct-select-item f16p">
				<li>饮用水</li>
			</ul>
		</div>
		<div class="ct-prdListBox">
			<ul class="ct-prdShhow">
			
				<li>
					<div class="ct-prdShhow-imgDiv1 left">
						<img src="../images/prdList-101.png" alt="">
					</div>
					<div class="ct-prdShhow-imgDiv2 left">
						<img src="../images/prdList-102.jpg" alt="">
					</div>
					<div class="ct-prdShhow-ButtonDiv right">
						<div class="buyButton f14p">购买</div>
						<a href="prdDiscrib330.html"><div class="discribButton f14p">详情</div></a>
					</div>
				</li>
				
				<li>
					<div class="ct-prdShhow-imgDiv1 left">
						<img src="../images/prdList-201.png" alt="">
					</div>
					<div class="ct-prdShhow-imgDiv2 left">
						<img src="../images/prdList-202.png" alt="">
					</div>
					<div class="ct-prdShhow-ButtonDiv right">
						<div class="buyButton f14p">购买</div>
						<a href="prdDiscrib530.html"><div class="discribButton f14p">详情</div></a>
					</div>
				</li>
				
				<li>
					<div class="ct-prdShhow-imgDiv1 left">
						<img src="../images/prdList-301.png" alt="">
					</div>
					<div class="ct-prdShhow-imgDiv2 left">
						<img src="../images/prdList-302.png" alt="">
					</div>
					<div class="ct-prdShhow-ButtonDiv right">
						<div class="buyButton f14p">购买</div>
						<a href="prdDiscrib5L.html"><div class="discribButton f14p">详情</div></a>
					</div>
				</li>
				
				<li>
					<div class="ct-prdShhow-imgDiv1 left">
						<img src="../images/prdList-401.png" alt="">
					</div>
					<div class="ct-prdShhow-imgDiv3 left">
						<img src="../images/prdList-402.jpg" alt="">
					</div>
					<div class="ct-prdShhow-ButtonDiv right">
						<div class="buyButton f14p">购买</div>
						<a href="prdDiscribsgrq330.html"><div class="discribButton f14p">详情</div></a>
					</div>
				</li>
				
				<li>
					<div class="ct-prdShhow-imgDiv1 left">
						<img src="../images/prdList-501.png" alt="">
					</div>
					<div class="ct-prdShhow-imgDiv3 left">
						<img src="../images/prdList-502.jpg" alt="">
					</div>
					<div class="ct-prdShhow-ButtonDiv right">
						<div class="buyButton f14p">购买</div>
						<a href="prdDiscribsgrq530.html"><div class="discribButton f14p">详情</div></a>
					</div>
				</li>
				
			</ul>
		</div>
		<div class="clearfloat"></div>
	</div>
	
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/layer.js"></script>
<script src="../js/prdList.js"></script>
</html>
