<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>积分商城</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/regiest.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	</div>
</div>
<!--header end-->

<div class="content">
	
	<div class="content-main">
		<div class="ct-regiestBox">
			<div class="ct-regiestBox-title">
				欢迎您注册网站，如果您已拥有账户，则可在此
				<a class="16p" href="login.html">登录</a>
			</div>
			<div class="ct-QRCodeDiv">
				<img src="../images/liantu.png" alt="">
			</div>
		</div>
	</div>
	
	
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink">
			<div class="ct-frindsLink-left f16p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer">
  <div class="ft-content">
      <div class="ft-conentLeft left">
      	<ul class="ft-list">
     	  <li>新闻中心</li>
      	  <a href="#">
      	  	<li>媒体报道</li>
      	  </a>
      	  <a href="#">
      	  	<li>总裁致辞</li>
      	  </a>
      	  <a href="#">
      	  	<li>企业文化</li>
      	  </a>
      	  <a href="#">
      	  	<li>公司荣誉</li>
      	  </a>
      	</ul>
      	<ul class="ft-list">
     	  <li>产品介绍</li>
      	  <a href="#">
      	  	<li>媒体报道</li>
      	  </a>
      	  <a href="#">
      	  	<li>总裁致辞</li>
      	  </a>
      	  <a href="#">
      	  	<li>企业文化</li>
      	  </a>
      	  <a href="#">
      	  	<li>公司荣誉</li>
      	  </a>
      	</ul>
      	<ul class="ft-list">
     	  <li>招商加盟</li>
      	  <a href="#">
      	  	<li>媒体报道</li>
      	  </a>
      	  <a href="#">
      	  	<li>总裁致辞</li>
      	  </a>
      	  <a href="#">
      	  	<li>企业文化</li>
      	  </a>
      	  <a href="#">
      	  	<li>公司荣誉</li>
      	  </a>
      	</ul>
      	<ul class="ft-list">
     	  <li>健康饮水知识</li>
      	  <a href="#">
      	  	<li>媒体报道</li>
      	  </a>
      	  <a href="#">
      	  	<li>总裁致辞</li>
      	  </a>
      	  <a href="#">
      	  	<li>企业文化</li>
      	  </a>
      	  <a href="#">
      	  	<li>公司荣誉</li>
      	  </a>
      	</ul>
      	<div class="clearfloat"></div>
      </div>
      <div class="ft-contentRight left">
      	<div class="ft-QRCodeDiv">
      		<img src="../images/erweima.png" alt="">
      	</div>
      	<div class="ft-ImgTic">微信公众号，秦瑶玉泉</div>
      </div>
      <div class="clearfloat"></div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/regiest.js"></script>
</html>
