<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>积分商城</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/scoreRegular.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	</div>
</div>
<!--header end-->

<div class="content">
	<div class="ct-main">
		<div class="ct-pageProsition">
			<span class="ct-pgPt-title">当前位置:</span>
			<span class="ct-pgPt-content">首页&gt;积分规则</span>
		</div>
		<div class="ct-main-content">
			<h1 class="ct-title">秦瑶玉泉商城用户须知</h1>
			<h2>积分的获取</h2>
			<h3>1. 购物得积分；</h3>
			<p>购买秦瑶玉泉产品≥5箱则可获得实付金额10%的积分返还，返还积分可在“我的积分中”查看；<br>
			   参与积分返还的秦瑶玉泉产品规格包括：<br>
			   秦瑶玉泉330ml，秦瑶玉泉530ml，秦瑶玉泉5L</p>
			 <span class="splNotic">注：水之情系列产品不参加积分返还。支付宝支付，微信支付均可获得积分；余额支付不再获得积分。</span>  
			<h3>2. 充值得积分；</h3>
			<p>在秦瑶玉泉中充值≥600元即可获得实际充值金额10%的积分返还；<br>
				在购买商品支付过程中，选择余额支付则不再获得积分； </p>
			<h3>3.邀约的积分</h3>
			<p>由本人邀约购物的顾客，如产生实际交易，则获得被邀约人实付金额6%的积分返还；</p>
			<h3>4. 累积得积分</h3>
			<p>本人积分累积达到2200积分则可获得总消费金额2%的积分返还； 注：总积分包括自身购买赠送积累，二级被邀约人购买赠送积累，三级被邀约人购买积累。</p>
			<h2>积分的使用：</h2>
			<p>a.在积分商城进行消费使用，积分商城产品均为市场价格，比例按照1：1的比例进行购买；
            <br>
            b.售卖积分，所获得积分均可出售（陕西天一泉食品饮料有限公司回购积分），收购方为陕西天一泉食品饮料有限公司，按照1:1的比例进行回购。
            <br>
            c. 积分赠送，注册本商城会员之间均可相互赠送积分；</p>
            <span class="splNotic">注：积分回购只在微信商城中进行，出售的金额返还到出售人微信账户中，此功能支付宝均不可用。</span>
            <p>本规则最终解释权归陕西天一泉食品饮料有有限公司所有</p>
		</div>	
	</div>
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/scoreRegular.js"></script>
</html>
