<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>订购流程</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/shoppingProcess.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	</div>
</div>
<!--header end-->

<div class="content">
	<div class="ct-main">
		<div class="ct-pageProsition">
			<span class="ct-pgPt-title">当前位置:</span>
			<span class="ct-pgPt-content">首页&gt;订购流程</span>
		</div>
		<div class="ct-contentText">
			<h1>一、PC端购买请先微信扫码注册，如您已经注册，请直接登陆购买；</h1>
			<h1>二、点击产品中心，点击订购；</h1>
			<img src="../images/dglc-01.png"  alt="">
			<img src="../images/dglc-02.png"  alt="">
			<h1>三、点击导航栏进入订购产品，进行确认操作；</h1>
			<img src="../images/dglc-03.png"  alt="">
			<div class="ct-contentText-noic">
				选择您的送货地址（如首次购买则需要您新增收货地址），确认收货人姓名，收货人地址，收货人电话，选择您要购买的产品数量，确认相应产品的总价，选择您的支付方式。 如以上步骤没有问题，点击确认支付。
			</div>
			<h1>四、进入支付页面，打开您的微信，进行扫码支付；</h1>
			<img src="../images/dglc-04.png"  alt="">
			<div class="ct-contentText-noic">
				支付方式分为三种： 微信支付：手机打开微信扫码支付即可； 支付宝支付：手机打开支付宝扫码支付即可； 余额支付：直接支付即可。
			</div>
			<h1>五、支付成功，即可在商品订单中查看您的订单和历史订单；</h1>
			<img src="../images/dglc-05.png"  alt="">
		</div>	
	</div>
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/shoppingProcess.js"></script>
</html>
