<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户须知</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/userRights.css">
</head>

<body>

<!--header begin-->
<div class="header">
	<div class="hd-navDiv">
		<div class="logoDiv left">
			<img src="../images/logo.png" alt="">
		</div>
		<ul class="hd-navContent left f16p">
		   <a href="../../index.html">
		   	    <li class="nav-list1">首页</li>
		   </a>
		   <a href="prdList.html">
		   		<li class="nav-list2">产品中心</li>
		   </a>
		   <a href="shoppingCart.html">
		   		<li class="nav-list3">订购产品</li>
		   </a>
		   <a href="scoreShop.html">
		   		<li class="nav-list4">积分商城</li>
		   </a>
		   <a href="contactOur.html">
		   		<li class="nav-list5">联系我们</li>
		   </a>
		   <a href="#">
		   		<li class="nav-list6">关于我们</li>
		   </a>		
		</ul>
	</div>
</div>
<!--header end-->

<div class="content">
	<div class="ct-main">
		<div class="ct-pageProsition">
			<span class="ct-pgPt-title">当前位置:</span>
			<span class="ct-pgPt-content">首页&gt;用户须知</span>
		</div>
		<div class="ct-main-content">
			<h1 class="ct-title">秦瑶玉泉商城用户须知</h1>
			<h2>客户在接受商品订购与送货的同时，有义务遵守以下交易条款。您在秦瑶玉泉商城（网址：www.tyqyyq.cn , 以下简称“本站”）下订单之前或接受本站送货之前，请您仔细阅读以下条款：</h2>
			<p>1. 订购的商品价格以您下订单时的秦瑶玉泉商城价格为准。<br/>
			   2. 请清楚准确地填写您的真实姓名、送货地址及联系方式。
			</p>
			<h3>因如下情况造成订单延迟或无法配送等，本站将不承担责任：</h3>
			<p>
				1. 客户提供错误信息和/或不详细的地址；<br/>
				2. 货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果。<br/>
				3. 不可抗力，例如：自然灾害、交通戒严、突发战争等。<br/>
			</p>
			<h3>1. 安全性：</h3>
			<p>只要您通过本站订购商品，我们会保证交易信息的安全，并由秦瑶玉泉客服人员处理您的订单。</p>
			<h3>2. 隐私权：</h3>
			<p>本站尊重您的隐私权，在任何情况下，我们都不会将您的个人和订单信息出售或泄露给任何第三方（国家司法机关调取除外）。我们从网站上或电话中得到的所有客户信息仅用来处理客户的相关订单。</p>
			<h3>3. 免责：</h3>
			<p>如因不可抗力或其它秦瑶玉泉商城无法控制的原因使本站销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，本站会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。</p>
			<h3>4. 客户监督：</h3>
			<p>秦瑶玉泉商城希望通过不懈努力，为客户提供最佳服务，本站在给客户提供服务的全过程中接受客户的监督。</p>
			<h3>5. 争议处理：</h3>
			<p>如果客户与本站之间发生任何争议，可依据当时双方所认定的协议及相关法律进行解决。</p>
			<h3>6.物流配送：</h3>
			<p>本站配送范围包括甘肃省，陕西省，其他省份快递的形式进行配送；<br />
			   配送范围内：甘肃省，陕西省；<br />
			   购买1箱-2箱收取15元的物流费；<br />
			   购买3箱-4箱收取30元的物流费；<br />
			   购买≥5箱，本站免费配送。<br />
			   其他省份配送物流费用按照物流公司统一收费为准。 </p>
			<h3>7.秦瑶玉泉商城承诺:</h3>
			<p>我们所出售的商品均为100%纯水源地灌装富硒山泉水，质量保证；含有质量保证书的商品按照保证书的承诺执行，其它商品按国家有关规定执行。<br/>
			我们承诺如客户通过本站提供的网上支付平台支付货款，本站为客户承担全额手续费，但由于客户原因取消正常状态下的订单要求款项返还时，则由客户承担相关手续费；货物打包不收取任何包装费。</p>
			<h3 class="spelNotic">特别提示</h3>
			<p>如您购买的商品出现质量问题时（内包装被打开过、破损，瓶身出现破损等）请您及时联系本站的客服人员，本站的客服人员将及时为您处理！</p>
		</div>
	</div>
	<div class="ct-frindsLinkDiv">
		<div class="ct-frindsLink f12p">
			<div class="ct-frindsLink-left f12p">
				友情连接：
			</div>
			<ul class="ct-frindsLink-link">
				<li><a href="#">秦瑶玉泉商城</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li><a href="#">秦瑶玉泉官网</a></li>
				<li class="linklist-last"><a href="#">秦瑶玉泉官网</a></li>
			</ul>
		</div>
	</div>
</div>


<!--footer start-->
<div class="footer f13p">
  <div class="ft-content">
  	  <div class="companyName">版权所有©：陕西天一泉食品饮料有限公司 服务热线：400-0298-896（办） 技术支持：智科软件</div>
  	  <div class="companyaddress">地址：陕西省安康市旬阳县小河镇西沟村</div>
  	  <div>Copyright 2012 All Rights Rserved 版权所有：陕西天一泉食品饮料有限公司</div>
  </div>
	
</div>
<!--footer end-->
</body>
<script src="../js/userRights.js"></script>
</html>
